/***************************
- Variables -
***************************/

// Primary
$desaturated-dark-cyan: hsl(180, 29%, 50%);

// Neutral
$light-grayish-cyan-background: hsl(180, 52%, 96%);
$light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
$dark-grayish-cyan: hsl(180, 8%, 52%);
$very-dark-grayish-cyan: hsl(180, 14%, 20%);

// Spacing
$spacing-sm: 0.5rem;
$spacing-reg: 1rem;
$spacing-lg: 2rem;

// Font Sizes
$font-sm: 0.8rem;
$font-reg: 1rem;
$font-lg: 2rem;

/************************************************
- Project Styles - Mobile First - Up to 768px -
**************************************************/

// Container Styles - containers are used to wrap semantically related content together;

.project-container {
  height: max-content;
  background-color: $light-grayish-cyan-background;
  position: relative;
  padding-bottom: 5rem;

  //Top banner SVG
  .svg-banner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
    background-color: $desaturated-dark-cyan;
  }
}

.full-list-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.job-card-container {
  margin-inline: auto;
  width: 90%;
  position: relative;
  background-color: white;
  box-shadow: 0px 4px 7px -3px $dark-grayish-cyan;
  border-radius: 5px;
  padding-inline: $spacing-reg;
  display: flex;
  flex-direction: column;
  gap: $spacing-reg;

  //Add margin to first child only
  &:first-child {
    margin-top: 200px;
  }

  //Media Query - Starting From 768px
  @media screen and (min-width: 768px) {
    width: 75%;
  }

  //Media Query - Starting From 1440px
  @media screen and (min-width: 1440px) {
    width: 65%;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-inline: $spacing-lg;
    padding-block: $spacing-reg;
  }
}

// Featured Job Specific Style
.featured-job {
  border-left: 7px solid $desaturated-dark-cyan;
}

// Wrapper Styles - wrappers are used purely for styling/layout purposes to meet design requirements;

.job-img-wrapper {
  height: 50px;
  width: 50px;
  position: absolute;
  top: -25px;

  //Media Query - Starting From 1440px
  @media screen and (min-width: 1440px) {
    position: static;
    height: 80px;
    width: 80px;
  }
}

.job-desc-wrapper {
  margin-top: $spacing-lg;
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  //Media Query - Starting From 1440px
  @media screen and (min-width: 1440px) {
    margin-top: 0;
    padding-right: 15rem;
  }
}

.job-desc-header-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: $spacing-reg;
}

.job-desc-footer-wrapper {
  display: flex;
  justify-content: start;
  gap: $spacing-reg;
  padding-bottom: $spacing-reg;
  border-bottom: 1px solid lightgrey;

  //Media Query - Starting From 1440px
  @media screen and (min-width: 1440px) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.job-desc-footer-wrapper p:not(:last-child)::after {
  content: "•";
  margin-left: $spacing-sm;
  position: relative;
  top: 0.01rem;
}

.job-details-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-sm;
  margin-bottom: $spacing-lg;

  //Media Query - Starting From 1440px
  @media screen and (min-width: 1440px) {
    margin-top: $spacing-lg;
  }
}

//Btn Styles
.svg-btn {
  border: 0;
  position: absolute;
  top: 0;
  right: 10px;
  background-color: transparent;

  //Hover Styles
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

// Img Styles
.job-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bookmark-icon {
  font-size: $font-lg;
  color: orange;
}

//Font Styles
.company-name {
  color: $desaturated-dark-cyan;
  font-weight: 700;
}

.job-new,
.job-featured {
  color: white;
  font-size: $font-sm;
  padding: 0.3rem 0.3rem;
  border-radius: 10px;
}

.job-new {
  background-color: $desaturated-dark-cyan;
}

.job-featured {
  color: white;
  background-color: $very-dark-grayish-cyan;
}

.job-position {
  font-size: $font-reg;
  color: $very-dark-grayish-cyan;

  //Hover Styles
  &:hover {
    color: $desaturated-dark-cyan;
    cursor: pointer;
  }

  //Media Query - Starting From 1440px
  @media screen and (min-width: 1440px) {
    font-size: 1.3rem;
  }
}

.job-desc-detail {
  color: $dark-grayish-cyan;
  font-size: $font-sm;
}

.job-attribute {
  background-color: $light-grayish-cyan-filter-tablets;
  color: $desaturated-dark-cyan;
  font-weight: 700;
  padding: $spacing-sm $spacing-sm;
  border-radius: 5px;

  //Hover Styles
  &:hover {
    cursor: pointer;
    background-color: $desaturated-dark-cyan;
    color: white;
  }

  //Media Query - Starting From 1440px
  @media screen and (min-width: 1440px) {
    height: max-content;
  }
}
