<div class="project-container">
  <img
    src="assets/images/bg-header-mobile.svg"
    alt=""
    class="svg-banner"
    role="presentation"
  />
  <main class="full-list-container">
    @for(job of jobData; track job.id){
    <article class="job-card-container">
      <div class="job-img-wrapper">
        <img [src]="job.logo" alt="Company logo" class="job-img" />
      </div>
      <div class="job-desc-wrapper">
        <div class="job-desc-header-wrapper">
          <p class="company-name">{{ job.company }}</p>
          @if (job.new) {
          <p class="job-new">NEW!</p>
          } @if (job.featured) {
          <p class="job-featured">FEATURED</p>
          }
        </div>
        <h2 class="job-position">{{ job.position }}</h2>
        <div class="job-desc-footer-wrapper">
          <p class="job-posted-at">{{ job.postedAt }}</p>
          <p class="job-contract">{{ job.contract }}</p>
          <p class="job-location">{{ job.location }}</p>
        </div>
      </div>
      <div class="job-details-wrapper">
        <p class="job-role">{{ job.role }}</p>
        <p class="job-level">{{ job.level }}</p>
        <p class="job-languages" *ngFor="let language of job.languages">
          {{ language }}
        </p>
        @if (job.tools) {
        <p class="job-tools" *ngFor="let tool of job.tools">{{ tool }}</p>
        }
      </div>
    </article>
    }
  </main>
</div>
