<div class="project-container">
  <picture>
    <source
      media="(min-width: 768px)"
      srcset="assets/images/bg-header-desktop.svg"
    />
    <img
      src="assets/images/bg-header-mobile.svg"
      alt=""
      class="svg-banner"
      role="presentation"
    />
  </picture>
  <main class="full-list-container">
    @if (filters().length > 0) {
    <div class="filters-container">
      @for (filter of filters(); track $index) {
      <span class="filter-tag">
        {{ filter }}
        <button (click)="removeFilter(filter)" class="close-btn">
          <i class="fa-solid fa-x"></i>
        </button> </span
      >}
      <button class="clear-btn" (click)="clearFilters()">Clear</button>
    </div>
    } @for(job of filteredJobs(); track job.id){
    <article class="job-card-container" [class.featured-job]="job.featured">
      <div class="job-img-wrapper">
        <img [src]="job.logo" alt="Company logo" class="job-img" />
      </div>
      <div class="job-desc-wrapper">
        <div class="job-desc-header-wrapper">
          <p class="company-name">{{ job.company }}</p>
          @if (job.new) {
          <p class="job-new">NEW!</p>
          } @if (job.featured) {
          <p class="job-featured">FEATURED</p>
          }
          <button
            class="svg-btn"
            (click)="toggleBookmark(job)"
            [ngClass]="{ bookmarked: job.bookmarked }"
          >
            <i class="fa-solid fa-bookmark bookmark-icon"></i>
          </button>
        </div>
        <h2 class="job-position">{{ job.position }}</h2>
        <div class="job-desc-footer-wrapper">
          <p class="job-desc-detail">{{ job.postedAt }}</p>
          <p class="job-desc-detail">{{ job.contract }}</p>
          <p class="job-desc-detail">{{ job.location }}</p>
        </div>
      </div>
      <div class="job-details-wrapper">
        <p class="job-role job-attribute" (click)="addFilter(job.role)">
          {{ job.role }}
        </p>
        <p class="job-level job-attribute" (click)="addFilter(job.level)">
          {{ job.level }}
        </p>
        <p
          class="job-languages job-attribute"
          *ngFor="let language of job.languages"
          (click)="addFilter(language)"
        >
          {{ language }}
        </p>
        @if (job.tools) { @for (tool of job.tools; track $index) {
        <p class="job-tools job-attribute" (click)="addFilter(tool)">
          {{ tool }}
        </p>
        } }
      </div>
    </article>
    }
  </main>
</div>
