<div class="project-container">
  <picture>
    <source
      media="(min-width: 768px)"
      srcset="assets/images/bg-header-desktop.svg"
    />
    <img
      src="assets/images/bg-header-mobile.svg"
      alt=""
      class="svg-banner"
      role="presentation"
    />
  </picture>
  <main class="full-list-container">
    @for(job of jobData; track job.id){
    <article class="job-card-container" [class.featured-job]="job.featured">
      <div class="job-img-wrapper">
        <img [src]="job.logo" alt="Company logo" class="job-img" />
      </div>
      <div class="job-desc-wrapper">
        <div class="job-desc-header-wrapper">
          <p class="company-name">{{ job.company }}</p>
          @if (job.new) {
          <p class="job-new">NEW!</p>
          } @if (job.featured) {
          <p class="job-featured">FEATURED</p>
          }
          <button class="svg-btn">
            <i class="fa-solid fa-bookmark bookmark-icon"></i>
          </button>
        </div>
        <h2 class="job-position">{{ job.position }}</h2>
        <div class="job-desc-footer-wrapper">
          <p class="job-desc-detail">{{ job.postedAt }}</p>
          <p class="job-desc-detail">{{ job.contract }}</p>
          <p class="job-desc-detail">{{ job.location }}</p>
        </div>
      </div>
      <div class="job-details-wrapper">
        <p class="job-role job-attribute">{{ job.role }}</p>
        <p class="job-level job-attribute">{{ job.level }}</p>
        <p
          class="job-languages job-attribute"
          *ngFor="let language of job.languages"
        >
          {{ language }}
        </p>
        @if (job.tools) {
        <p class="job-tools job-attribute" *ngFor="let tool of job.tools">
          {{ tool }}
        </p>
        }
      </div>
    </article>
    }
  </main>
</div>
